In [31]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler, LabelEncoder, OneHotEncoder

In [8]:
df = pd.read_csv("C:/Daya/mlprojects/mlcarproject/artifacts/data/train.csv")
df.head()

,Date,Gender,Annual Income,Model,Engine,Transmission,Color,Price ($),Body Style,Company
0,2023-08-23,Female,930000,Outback,DoubleÂ Overhead Camshaft,Auto,Red,57000,SUV,Subaru
1,2022-12-27,Female,700000,Carrera Coupe,DoubleÂ Overhead Camshaft,Auto,Pale White,22000,SUV,Porsche
2,2023-12-01,Male,13500,SLK230,Overhead Camshaft,Manual,Pale White,71001,Hatchback,Mercedes-B
3,2023-11-04,Female,442500,LX470,DoubleÂ Overhead Camshaft,Auto,Black,22500,SUV,Lexus
4,2023-11-12,Female,450000,Town car,DoubleÂ Overhead Camshaft,Auto,Pale White,18001,Hatchback,Lincoln

In [9]:
df.drop('Date', axis=1, inplace=True)

In [10]:
df.Engine.unique()

array(['DoubleÂ\xa0Overhead Camshaft', 'Overhead Camshaft'], dtype=object)

In [11]:
df.Engine = df.Engine.map(
    {"DoubleÂ\xa0Overhead Camshaft": "Double Camshaft", "Overhead Camshaft": "Camshaft"})

In [12]:
df.Engine.unique()

array(['Double Camshaft', 'Camshaft'], dtype=object)

In [13]:
df.Transmission.unique()

array(['Auto', 'Manual'], dtype=object)

In [15]:
df.Color.unique()

array(['Red', 'Pale White', 'Black'], dtype=object)

In [16]:
df['Body Style'].unique()

array(['SUV', 'Hatchback', 'Passenger', 'Hardtop', 'Sedan'], dtype=object)

In [17]:
df.drop("Model", axis=1, inplace=True)

In [18]:
X = df.drop("Company", axis=1)
X.head()

,Gender,Annual Income,Engine,Transmission,Color,Price ($),Body Style
0,Female,930000,Double Camshaft,Auto,Red,57000,SUV
1,Female,700000,Double Camshaft,Auto,Pale White,22000,SUV
2,Male,13500,Camshaft,Manual,Pale White,71001,Hatchback
3,Female,442500,Double Camshaft,Auto,Black,22500,SUV
4,Female,450000,Double Camshaft,Auto,Pale White,18001,Hatchback

In [24]:
ohe = OneHotEncoder(handle_unknown='ignore', sparse_output=False,
                    dtype='int16').set_output(transform='pandas')

In [27]:
X_encoded = ohe.fit_transform(X.drop(['Annual Income', 'Price ($)'], axis=1))

In [29]:
X = pd.concat([X_encoded, X[['Annual Income', 'Price ($)']]], axis=1)

In [30]:
X.head()

,Gender_Female,Gender_Male,Engine_Camshaft,Engine_Double Camshaft,Transmission_Auto,Transmission_Manual,Color_Black,Color_Pale White,Color_Red,Body Style_Hardtop,Body Style_Hatchback,Body Style_Passenger,Body Style_SUV,Body Style_Sedan,Annual Income,Price ($)
0,1,0,0,1,1,0,0,0,1,0,0,0,1,0,930000,57000
1,1,0,0,1,1,0,0,1,0,0,0,0,1,0,700000,22000
2,0,1,1,0,0,1,0,1,0,0,1,0,0,0,13500,71001
3,1,0,0,1,1,0,1,0,0,0,0,0,1,0,442500,22500
4,1,0,0,1,1,0,0,1,0,0,1,0,0,0,450000,18001

In [34]:
scaler = MinMaxScaler()
X_scaled = scaler.fit_transform(X)

In [45]:
label = LabelEncoder()
y_label = label.fit_transform(df['Company'].values)
print(label.classes_)

['Acura' 'Audi' 'BMW' 'Buick' 'Cadillac' 'Chevrolet' 'Chrysler' 'Dodge'
 'Ford' 'Honda' 'Hyundai' 'Infiniti' 'Jaguar' 'Jeep' 'Lexus' 'Lincoln'
 'Mercedes-B' 'Mercury' 'Mitsubishi' 'Nissan' 'Oldsmobile' 'Plymouth'
 'Pontiac' 'Porsche' 'Saab' 'Saturn' 'Subaru' 'Toyota' 'Volkswagen'
 'Volvo']

In [47]:
y_label

array([26, 23, 16, ...,  6, 26,  3])